# Gradle
.gradle/
build/
**/build/

# IntelliJ / Android Studio
.idea/*
!.idea/codeStyles
!.idea/runConfigurations

# Log / Cache
*.log
*.cache
*.iml
captures/

# Keystore (não versionar senhas!)
*.jks
*.keystore

# Outras pastas geradas
local.properties
.DS_Store
